* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.noselect {
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;   
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -khtml-user-select: none;
}
img {
    pointer-events: none;
}

body {
    background-color: #fff;
    color: #000;
}

body.lock {
    overflow: hidden;
}

html.dark body {
    background-color: #000;
    color: #fff;
}
    
html.noAnim * {
    transition: 0s;
}

html.noAnim footer * {
    transition: 0s;
}

html.noAnim .player .cover,
html.noAnim .player .background {
    transition: 0s;
}

html.noAnim .check-bg::before {
    transition: 0s;
}

html.noAnim .set .sets .this-check,
html.noAnim .set .option {
    transition: 0s;
}
    
header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-right: 16px;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, #000, rgba(0,0,0,0));
    z-index: 800;
}

header svg {
    width: 15px;
}

header .l-9 {
    width: 60px;
}

.ls-12,
.sa-11,
.ac-10 {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    position: relative;    
}

.sa-11 {
    width: 30px;
    height: 30px;
    background-color: #2f2f2f;
    border-radius: 100px;
    position: relative;
    margin-right: 20px;
    transition: .6s cubic-bezier(.47,1.64,.41,.8);
    overflow: hidden;
}

.sa-11 a {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0;
}

.sa-11 input {
    background: none;
    width: 100%;
    height: 100%;
    padding-right: 30px;
    padding-left: 10px;
    color: #fff;
    border: none;
    border-radius: 100px;
    outline: none;
    display: none;
    font-weight: 500;
}

.sa-11.at-11 {
    width: 200px;
}

.sa-11.at-11 input {
    display: block;
}

.l-9 {
    transition: .2s;
}

.l-9.vis {
    opacity: 0;
    visibility: hidden;
}

.ac-10.aс-01 {
    opacity: 0;
    visibility: hidden;
}

.sa-11 .search-icon {
    fill: #fff;
    position: absolute;
    right: 7px;
    top: 50%;
    transform: translateY(-50%);
    transition: .4s;
}

.sa-11 .close {
    width: 10px;
    stroke: #fff;
    position: absolute;
    right: 10px;
    height: 10px;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
    top: 50%;
    transform: translateY(-50%);
}

.sa-11.at-11 .close {
    opacity: 1;
    visibility: visible;
}

.sa-11.at-11 .search-icon {
    opacity: 0;
    visibility: hidden;
}

.sa-11 .search-icon circle {
    fill: none;
    stroke: #fff;
}

.ac-10 {
    transition: .2s;
}

.ac-10 img {
    width: 30px;
    border-radius: 50%;
}

.ac-10 span {
    font-size: 10px;
    font-weight: 500;
    margin: 0 10px;
}

.ac-10 svg {
    stroke: #fff;
}

html.light header {
    color: #000;
    background: #fff;
}

html.light .close,
html.light .search-icon circle,
html.light .ac-10 svg{
    stroke: #000;
}

html.light .search-icon {
    fill: #000;
}

html.light .sa-11 {
    background: #c7c7c7;
}

html.light .sa-in {
    color: #000;
}

.uns {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .8);
    backdrop-filter: blur(10px);
    opacity: 0;
    visibility: hidden;
    transition: all .1s,
        transform .7s;
    z-index: 900;
}

.uns.vis {
    opacity: 1;
    visibility: visible;
}

footer {
    height: 70px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    z-index: 800;
    flex-direction: row;
    background: #000;
    transition: .4s cubic-bezier(.62,.27,.22,1.07) .2s;
} 

.nav-menu-footer {
    width: 33.33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu-footer svg {
    stroke: #fff;
    width: 30px;
    fill: #fff;
    transition: .4s;
    transition-delay: .2s;
}

.nav-menu-footer.active svg {
    fill: #00A3FF;
    stroke: #00A3FF;
}

.dot-footer {
    display: block;
    width: 4px;
    height: 4px;
    background: #00A3FF;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    z-index: 10;
    left: 16.3%;
    transition: .4s cubic-bezier(.62,.27,.22,1.07);
}

.player {
    position: fixed;
    bottom: 70px;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding-left: 5px;
    padding-right: 15px;
    transition: .4s cubic-bezier(.62,.27,.22,1.07) .2s;
    background-color: #000;
}

.player.hid {
    bottom: -50px;
}

.player .track-current {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.player .track-current .cover {
    width: 40px;
    height: 40px;
    background-size: cover;
    margin-right: 10px;
    border-radius: 7px;
    transform: scale(.8);
    transition: transform .4s cubic-bezier(.47,1.64,.41,.8),
        background .2s;
}

.player .track-current .background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: .1;
    transition: 1s cubic-bezier(1,-0.08,.51,.94);
    filter: blur(15px);
}

.player .track-current .track-info {
    font-size: 11px;
    font-weight: 500;
}

.player .track-current .track-info .artist {
    color: #999;
    margin-bottom: 5px;
}

.player .controlls {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
}

.player .controlls .play {
    width: 25px;
    height: 100%;
    display: flex;
    align-items: center;
}

.player .controlls .player-dot {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #999;
    margin: 0 6px;
}

.player .controlls .current-time {
    color: #999;
    font-weight: 500;
    font-size: 10px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player .controlls .like {
    width: 15px;
    margin-left: 10px;
    height: 50px;
    display: flex;
    align-items: center;
}

.player .controlls .next-track svg {
    width: 15px;
}

.player .controlls .play svg {
    fill: #fff;
    stroke: #fff;
    width: 100%;
}

.account-info {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
}

.account-info .left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.account-info .left span {
    font-size: 16px;
    font-weight: 500;
}

.account-info .close {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-info .close svg {
    stroke: #fff;
    width: 15px;
}

.account-info .avatarnedit {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin-right: 15px;
}

.account-info .avatarnedit img {
    width: 100%;
}

.account-info .avatarnedit .edit-button {
    background: rgba(0, 0, 0, .8);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-info .avatarnedit .edit-button svg {
    stroke: #fff;
    width: 12px;
}

nav {
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

nav a {
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, .5);
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;
    border-radius: 10px;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

nav a svg {
    width: 25px;
    margin-right: 20px;
    fill: white;
    stroke: #fff;
}

nav a svg.link {
    fill: none;
}

.page-controlls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    bottom: 20px;
    padding: 0 20px;
    width: 100%;
}

.page-controlls .left {
    display: flex;
    flex-direction: row;
}

.page-controlls .left .page-controlls-item:not(:last-child) {
    margin-right: 15px;
}

.page-controlls-item {
    width: 40px;
    height: 40px;
    background: #000;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-controlls-item svg {
    fill: #fff;
    stroke: #fff;
    width: 20px;
}

.page-controlls-item .theme path:first-child {
    fill: none;
}

.page-controlls-item.long {
    width: 133px;
    font-size: 10px;
    font-weight: 500;
}

.page-controlls-item.long svg {
    margin-right: 10px;
}

.set {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    min-height: 50px;
    margin-top: 15px;
    font-weight: 600;
    background: rgba(0, 0, 0, .5);
    border-radius: 10px;
    position: relative;
    padding: 10px;
    border: 1px solid #1d1d1d;
}

.set .desc {
    font-size: 12px;
    color: #999;
    max-width: 200px;
    margin-top: 5px;
    font-weight: 300;
}

.set.first {
    margin-top: 70px;
}

.check-gen {
    --width: 40px;
    --height: 20px;
    --offset: 5px;
    --first-color: #2e2f34;
    --second-color: #00A3FF;
    --duration: .2s;
}

.check-thumb {
    display: none;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.check-thumb:checked ~ .check-bg {
    background-color: var(--second-color);
}

.check-thumb:checked ~ .check-bg::before {
    background-color: var(--first-color);
    left: calc(var(--width) - var(--height) + var(--offset));
}

.check-bg {
    width: var(--width);
    height: var(--height);
    background-color: var(--first-color);
    border-radius: var(--width);
    position: relative;
    transition: var(--duration);
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.check-bg::before {
    content: '';
    width: calc(var(--height) / 2);
    height: calc(var(--height) / 2);
    position: absolute;
    top: var(--offset);
    left: var(--offset);
    background-color: var(--second-color);
    border-radius: var(--width);
    transition: var(--duration);
}

.general {
    transition: .2s;
    width: 100%;
    height: 100%;
}

.general.hide {
    opacity: 0;
    visibility: hidden;
}

.general .link-nav {
    padding-left: 20px;
    padding-right: 10px;
    position: relative;
}

.general .link-nav svg.chev {
    stroke: #fff;
    width: 20px;
    height: 20px;
    transform: translateY(-50%) rotate(-90deg);
    position: absolute;
    right: 10px;
    top: 50%;
}

.customize {
    opacity: 0;
    visibility: hidden;
    transition: .2s;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 15px;
}

.customize .head {
    width: 100%;
    background: #000;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 500;
}

.customize.act {
    opacity: 1;
    visibility: visible;
}

.customize .back {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customize .back svg {
    width: 20px;
    height: 20px;
    stroke: #fff;
    transform: rotate(90deg);
}

.set.options {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sets {
    display: flex;
    flex-direction: row;
    position: relative;
}

.set .option {
    font-weight: 400;
    position: relative;
    z-index: 1;
    opacity: .6;
    transition: .2s;
}

.set .option:not(:last-child) {
    margin-right: 25px;
}

.set .sets .this-check {
    background-color: #00A3FF;
    border-radius: 3px;
    height: 30px;
    position: absolute;
    display: block;
    z-index: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: .2s;
    left: -16px;
}

.customize .sets .top.active,
.customize .sets .bottom.active {
    opacity: 1;
}

.customize .sets .top.active ~ .this-check {
    width: 60px;
}

.customize .sets .bottom.active ~ .this-check {
    width: 90px;
    transform: translate(63%, -50%);
}

.player.pos-b {
    bottom: 0;
    left: 0;
}

footer.pos-t {
    bottom: 50px;
    left: 0;
}

.player.hid {
    bottom: -50px;
}

footer.dwn {
    bottom: 0;
}

footer.hide {
    transform: translateY(300%);
}

.tracks-line {
    padding: 0 10px;
    margin-top: 20px;
}

.tracks-line.first {
    margin-top: 65px;
}

.tracks-line.last {
    margin-bottom: 120px;
}

.tracks-line .name-block {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}

.track-line {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

.track-line::-webkit-scrollbar {
    display: none;
}

.track-wrapper:not(:last-child) {
    margin-right: 20px;
}

.track-wrapper img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.track-wrapper .track-name {
    font-size: 10px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 5px;
}

.track-wrapper .artist {
    font-size: 10px;
    font-weight: 500;
    color: #999;
}

html.light .page-controlls-item {
    background: #fff;
}

html.light .page-controlls-item svg {
    fill: #000;
    stroke: #000;
}

.themeSwitch svg {
    transition: .2s;
}

.themeSwitch.rotate svg {
    transform: rotate(180deg);
}

html.light .uns {
    background: rgba(255, 255, 255, .6);
}

html.light .uns .close svg {
    stroke: #000;
}

html.light footer {
    background-color: #fff;
}

html.light footer svg {
    fill: #000;
    stroke: #000;
}

html.light .player .track-name {
    color: #fff;
}

html.light header {
    background: linear-gradient(180deg, #fff, rgba(255,255,255,0));
}

html.light .customize .head {
    background: #fff;
    color: #000;
}

html.light .customize .head .back svg {
    stroke: #000;
}

html.light .set {
    background: rgba(255, 255, 255, .5);
    color: #000;
    border: 1px solid #999;
}

html.light .set .desc {
    color: #1d1d1d;
}

html.light .check-gen {
    --first-color: #fff;
}

html.light nav a {
    background: #fff;
}

html.light nav a svg,
html.light .general .link-nav svg.chev {
    fill: #000;
    stroke: #000;
}

html.light nav a svg.link,
html.light .general .link-nav svg.chev {
    fill: none;
}